.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 15px;
  border: none;
  font-size: 21px;
  font-family: $font-family-base;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  background-color: #81b3d2;
}
