.features {
  margin: auto;
  max-width: 240px;
  margin-top: 26px;
  margin-bottom: 38px;
  text-align: left;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .features {
    display: grid;
    grid-template-columns: 33.33333333333333% 33.33333333333333% 33.33333333333333%;
    max-width: 100%;
    text-align: center;
  }
}

.features__title {
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: middle;
  font-size: $font-size-large;
  line-height: 26px;
  font-weight: 700;
  color: $black;
}

.features__text {
  margin: 0;
  padding: 0;
  color: $darkgray;
}

.features__item {
  background-color: $white;
}

.features__item:last-of-type {
  width: 210px;
}
