.modal__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal__text {
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.modal__button {
  display: inline-block;
  box-sizing: border-box;
  padding: 16px;
  min-width: 180px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #81b3d2;
  border: none;
}

.modal__button-successful {
  min-width: 280px;
}
