$black: #000000;
$white: #ffffff;
$darkgray: #444444;
$lightgreyblue: #81b3d2;
$whitethree: #f2f2f2;

$font-family-base: "PT Sans", "Arial", sans-serif;

$font-size-base: 14px;
$font-size-large: 18px;
$font-size-heading: 21px;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 320px;
